
nav {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #262f3e;
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    width: 50px;
    z-index: 99999;
    top:0px;
    left: 0px;
    bottom: 0px;
}

nav a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    position: relative
}

nav a:hover {
    background: #19202c
}

nav a i {
    font-size: 1.25em;
    padding-left: 4px
}

nav .fa-times {
    font-size: 0.85em;
    position: absolute;
    right: 6px;
    margin-top: 3px;
    color: #EEE
}

nav .nav__avatar {
    height: 50px;
    margin-bottom: 20px;
    padding: 0
}

nav .nav__avatar span {
    left: 58px;
    top: 15px
}

nav .nav__avatar div {
    height: 50px;
    width: 50px
}

nav span {
    font-size: 0.95em;
    left: 51px;
    line-height: 1.3;
    position: absolute;
    white-space: nowrap
}

nav .nav__footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-top: 7px;
    background: #19202c
}

nav .nav__footer .i {
    cursor: pointer;
    position: absolute;
    left: 142px;
    bottom: 0px;
    color: #3C5064
}
nav .nav__footer .a{
    cursor: pointer;
    position: absolute;
    left: 142px;
    bottom: 0px;
    color: #3C5064
}
<<<<<<< HEAD
=======


nav .logo {
    width: 78px;
    margin-left: 6.5px;
    margin-bottom: 3px
}

nav .logo__wrap {
    width: 42px;
    overflow: hidden;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

>>>>>>> origin/master
nav .nav__header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 3px;
    margin-top: -20px;
    margin-bottom: 8px;
    background: #19202c
}

nav:hover {
    width: 160px
}

nav:hover+#container-main {
    margin-left: 160px!important
}

nav:hover span {
    display: inline
}

nav:hover .logo__wrap {
    width: 100%;
    margin-left: 33px
}

nav:hover .nav__header .logo__wrap {
    margin-left: 33px
}