body {
	padding-left: 50px;
	word-wrap: break-word;
	background: #FFA07A;
}

.main {
	padding: 20px;
}

/*
* profile page
*/
.profile-greeting {
	margin-bottom: 20px;
}

.profile-pic img {
	border-radius: 50px;
	margin-bottom: 5%;
}
.profile-pic img:hover {
	box-shadow: 0 0 1em gray;
}

.signInformation {
	padding-top: 50px;
	padding-bottom: 0px;
}
.signInformation h5 {
	margin: 0 0 15px 0;
}

.edit-profile-btn {
	margin-bottom: 5%;
}

/*
* profile picture upload
*/
.fileinput-button {
	position: relative;
	overflow: hidden;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

/*
* password strength indicator
*/
#inputPasswordDiv.has-error,
#inputPasswordConfirmDiv.has-error {
	box-shadow: inset 0 1px 1px rgba(255, 32, 32, .075);
}
#inputPasswordDiv.has-error > input,
#inputPasswordConfirmDiv.has-error > input {
	border: solid rgb(255, 32, 32) 1px;
}

#inputPasswordDiv.has-warning {
	box-shadow: inset 0 1px 1px rgba(255, 165, 0, .075);
}
#inputPasswordDiv.has-warning > input {
	border: solid orange 1px;
}

#inputPasswordDiv.has-success,
#inputPasswordConfirmDiv.has-success {
	box-shadow: inset 0 1px 1px rgba(0, 192, 0, .075);
}
#inputPasswordDiv.has-success > input,
#inputPasswordConfirmDiv.has-success > input {
	border: solid rgb(0, 192, 0) 1px;
}
